%section.section
  .container
    %h1.title Admin
    %aside.menu
      %p.menu-label
        Admin menu
      %ul.menu-list
        %li
          %a{ href: '/user/create' }
            Create User
        %li
          %a{ href: '/adgroup/create' }
            Create Ad Group
        %li
          %a{ href: '/adcategory/create' }
            Create Ad Category
        %li
          %a
            Balances
