%section.section
  .container
    %h1.title Edit Ad Category
    %h2.subtitle= "#{@adcat.name}"
    .columns
      .column.is-half
        %form{ action: "/adcategory/update", method: "POST" }
          %input{ type: "hidden", name: "adcategory[id]", value: "#{@adcat.id}"}
          .field
            %label.label
              Ad Category name
            .control
              %input.input{ type: "text", name: "adcategory[name]", value: @adcat.name }
          .field
            %label.label
              Price
            .control
              %input.input{ type: "text", name: "adcategory[price]", value: @adcat.price }
          .field
            .control
              %label.checkbox
                %input{ type: "checkbox", name: "adcategory[company_pays]", checked: @adcat.company_paid }
                  Tick this box if this ad type is always paid for by the company
          .field
            .control
              %label.checkbox
                %input{ type: "checkbox", name: "adcategory[mpg_ad]", checked: @adcat.mpg_ad }
                  Tick if ad is an MPG ad
          .field
            .control
              %button.button.is-primary{ type: "submit" }
                Update Ad Category
